* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  padding: 0 1.125rem;
  margin: 100px auto;
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 19px;
  border-radius: 10px;
}
.btn-primary {
  background-color: hsl(249, 76%, 52%);
  color: #fff;
  padding: 0.6em 1.2em;
}
.img-section {
  position: relative;
  z-index: 2;
}
.face {
  width: 180px;
  height: 180px;
  background-color: hsl(0, 0%, 91%);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: -40px;
  background: url("../img/me.jpg") no-repeat center center / cover;
}
.content,
.img-section {
  width: 70%;
  margin: auto;
}
.content {
  background-color: hsla(0, 0%, 91%, 0.5);
  border-radius: 10px;
  padding: 3em 1rem;
}
.personal-details {
  text-align: center;
  padding: 1rem;
}
.personal-details h2 {
  padding: 0.5rem 0;
}
.personal-details p {
  font-size: 0.875rem;
}
.socials {
  padding: 1rem 0;
}
.socials h4 {
  padding: 0.5rem 0 1rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  display: inline-block;
  padding: 0 0.5rem;
  color: #333;
}
.social-links a:hover {
  color: hsl(249, 76%, 52%);
}
.content-body section {
  padding: 1rem 1.5rem;
}
.content-body section h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.content-body p {
  line-height: 1.5;
  padding-bottom: 1rem;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}
.languages li {
  flex-basis: 120px;
  padding: 1rem;
  cursor: pointer;
}
.skills .actions {
  text-align: center;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .content,
  .img-section {
    width: 100%;
    margin: auto;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 14%);
  }
  .content {
    background-color: hsla(0, 0%, 30%, 0.5);
    color: #fff;
  }
  .social-links a {
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
}
